<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizza.Co</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pizza.Co_WEB_APP.styles.css" asp-append-version="true" />
</head>

<body>
    <header>

        <section class="flex">

            <div class="icons1">
                <img src="~/css/images/icon4.png" /> <a href="#">Pizza.Co</a>
            </div>
           
            <div id="menu-bar" class="fas fa-bars"></div>

            <nav class="navbar">

                <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                <a class="nav-link" asp-area="" asp-page="/Menu">Menu</a>
                <a class="nav-link" asp-area="" asp-page="/Contact">Contact Us</a>
                <a class="nav-link" asp-area="" asp-page="/Order">Order Now</a>
                <a asp-page="/Account/Register">Register</a>
                <a asp-page="/Account/Login">Log in</a>
                <button type="submit">Logout</button>

                <form asp-page="/Account/Logout" method="post">
                    <button type="submit" class="btn">Logout</button>
                </form>

            </nav>

            <div class="icons2">
                <a class="fas fa-shopping-cart" asp-area="" asp-page="/Checkout"></a>
            </div>

        </section>

    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer">

        <section>

            <div class="share">
                <a href="#" class="btn">Facebook</a>
                <a href="#" class="btn">Twitter</a>
                <a href="#" class="btn">Instagram</a>
            </div>

            <h1 class="cpright"> &copy; 2023 - Pizza.Co - <a asp-area="" asp-page="/Privacy">Privacy</a> </h1>

        </section>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>