@page
@model Pizza.Co_WEB_APP.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site3.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pizza.Co_WEB_APP.styles.css" asp-append-version="true" />
</head>


<div class="loader-container">
    <img src="~/css/images/loader2.gif" alt="">
</div>

<body>
    <section class="order" id="order">

        <h1 class="heading"> <span>Contact</span> Us </h1>

        <div class="row">

            <div class="image">
                <img src="~/css/images/loader2.gif" />
            </div>

            <form action="">

                <div class="inputBox">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                </div>

                <div class="inputBox">
                    <input type="number" placeholder="Number">
                    <input type="text" placeholder="Address">
                </div>

                <textarea placeholder="Leave us a message..."></textarea>

                <input type="submit" value="Send" class="btn">

            </form>

        </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15901.285865676311!2d114.92657518652712!3d4.885730851919612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x32228ac8ee3f7d03%3A0xcacd96016959ec39!2sLaksamana%20College%20of%20Business!5e0!3m2!1sen!2sbn!4v1681199440654!5m2!1sen!2sbn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </section>
</body>
