@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Pizza.Co_WEB_APP.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <h2>Hello @UserManager.GetUserName(User)</h2>
    if (User.IsInRole("Admin"))
    {
        <h2>Only admin users can see this!</h2>
    }

}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pizza.Co_WEB_APP.styles.css" asp-append-version="true" />
</head>

<div class="home-container">

    <section class="home" id="home">

        <div class="content">
            <h3>Taste like paradise.</h3>
            <p>One bite and you can taste heaven.</p>
            <a href= "Menu" class="btn">order now</a>
        </div>

        <div class="image">
            <img src="~/css/images/PizzaHome2.png" alt="">
        </div>

    </section>

</div>

<section class="order" id="order">

    <h1 class="heading"> <span>order</span> now </h1>

    <div class="row">

        <div class="image">
            <img src="~/css/images/loader2.gif" alt="">
        </div>

        <form action="">

            <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>

            <div class="inputBox">
                <input type="number" placeholder="number">
                <input type="text" placeholder="food name">
            </div>

            <textarea placeholder="address" name="" id="" cols="30" rows="10"></textarea>

            <input type="submit" value="order now" class="btn">

        </form>

    </div>

</section>


<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>

<div class="loader-container">
    <img src="~/css/images/loader2.gif" alt="">
</div>

<script src="~/js/site.js"></script>