@page
@model Pizza.Co_WEB_APP.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pizza.Co_WEB_APP.styles.css" asp-append-version="true" />
</head>

<div class="loader-container">
    <img src="~/css/images/loader2.gif" alt="">
</div>


<body class="body">

    <div class="menu">

        <div class="heading">
            <h1>Pizza.Co</h1>
            <h3>&mdash; MENU &mdash; </h3>
        </div>

        <div class="food-items">
            <img src="~/css/images/pizza6.jpg" />
            <div class="details">
                <div class="details-sub">
                    <h5>Pepperoni Pizza</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <a href="#" class="btn">Add To Cart</a>
            </div>
        </div>

        <div class="food-items">
            <img src="~/css/images/pizza2.jpg" />
            <div class="details">
                <div class="details-sub">
                    <h5>Honey Garlic Chicken</h5>
                    <h5 class="price"> $8 </h5>
                </div>              
                <a href="#" class="btn">Add To Cart</a>
            </div>
        </div>

        <div class="food-items">
            <img src="~/css/images/pizza4.png" />
            <div class="details">
                <div class="details-sub">
                    <h5>Neapolian Pizza</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <a href="#" class="btn">Add To Cart</a>
            </div>
        </div>

        <div class="food-items">
            <img src="~/css/images/pizza7.jpg" />
            <div class="details">
                <div class="details-sub">
                    <h5>Margerita Pizza</h5>
                    <h5 class="price"> $10 </h5>
                </div>               
                <a href="#" class="btn">Add To Cart</a>
            </div>
        </div>

        <div class="food-items">
            <img src="~/css/images/pizza9.jpg" />
            <div class="details">
                <div class="details-sub">
                    <h5>Chicken Mushroom Pizza</h5>
                    <h5 class="price"> $12 </h5>
                </div>
                <a href="#" class="btn">Add To Cart</a>
            </div>
        </div>

        <div class="food-items">
            <img src="~/css/images/pizza10.jpeg" />
            <div class="details">
                <div class="details-sub">
                    <h5>Philly Cheese Steak Pizza</h5>
                    <h5 class="price"> $15 </h5>
                </div>              
                <a href="#" class="btn">Add To Cart</a>
            </div>
        </div>

        <div class="heading">
            <h1>&mdash; DRINKS & DESSERTS &mdash;</h1>
        </div>

        <div class="food-items">
            <img src="~/css/images/7up.jpg" />
            <div class="details">
                <div class="details-sub">
                    <h5>7up</h5>
                    <h5 class="price"> $1.50 </h5>
                </div>
                <a href="#" class="btn">Add To Cart</a>
            </div>
        </div>

        <div class="food-items">
            <img src="~/css/images/cocacola.jpg" />
            <div class="details">
                <div class="details-sub">
                    <h5>Coca Cola</h5>
                    <h5 class="price"> $1.50 </h5>
                </div>
                <a href="#" class="btn">Add To Cart</a>
            </div>
        </div>

        <div class="food-items">
            <img src="~/css/images/water.jpg" />
            <div class="details">
                <div class="details-sub">
                    <h5>Mineral Water</h5>
                    <h5 class="price"> $2 </h5>
                </div>
                <a href="#" class="btn">Add To Cart</a>
            </div>
        </div>

        <div class="food-items">
            <img src="~/css/images/s-img-3.jpg" />
            <div class="details">
                <div class="details-sub">
                    <h5>Ice-Cream</h5>
                    <h5 class="price"> $8 </h5>
                </div>
                <a href="#" class="btn">Add To Cart</a>
            </div>
        </div>

        <div class="food-items">
            <img src="~/css/images/s-img-5.jpg" />
            <div class="details">
                <div class="details-sub">
                    <h5>Chocolate Cookies</h5>
                    <h5 class="price"> $6 </h5>
                </div> 
                <a href="#" class="btn">Add To Cart</a>
            </div>
        </div>

        <div class="food-items">
            <img src="~/css/images/g-5.jpg" />
            <div class="details">
                <div class="details-sub">
                    <h5>Nougat</h5>
                    <h5 class="price"> $6 </h5>
                </div>
                <a href="#" class="btn">Add To Cart</a>
            </div>
        </div>

    </div>

</body>


